{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Currently, I am pursuing my B.tech degree from the Vellore Institute of Technology, Bhopal. I am a person with a creative mind. I love to explore new things. For now, I am working on building up my coding skills. I am doing a 100-days project course on udemy, and my instructor is Angela Yu. She is an amazing lady with a brilliant mind.</p>
        <p>It was my Day 70 of 100 days of code. Yep, I agree that I took more than a day to do it. But, believe me. And if you are doing any target. And, just doing it for the sake of completing it, then don't do it. You must understand what you are doing to enlarge your knowledge.</p>
        <p>Stay calm and keep walking towards your goal. Have a good day!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}